---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
	<p>This is where I will post about my journey learning Astro.</p>
	<ul>
		<li>
			<a href="/posts/post-1">My first blog post</a>
		</li>
		<li>
			<a href="/posts/post-2">O futuro do desenvolvimento web com frameworks modernos</a>
		</li>
		<li>
			<a href="/posts/post-3">Inteligência Artificial no dia a dia dos programadores</a>
		</li>
	</ul>
</BaseLayout>