---
import Social from "../components/Social.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Home">
	<p>Hello World! Welcome to my Astro blog</p>
	<Social platform="github" username="fabricioliquesley" />
</BaseLayout>
