---
import "../styles/global.css";
---

<header>
  <span>Astro Blog</span>
  <button class="menu-btn">Menu</button>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
    <a href="/tags">tags</a>
  </nav>
</header>