@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.slider {
    position: absolute;
    inset: 80px 200px 80px 80px;
    background: #242424;
    border-radius: 20px;
}

.slider .slides {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 240px;
    height: 320px;
    background: var(--img);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
    
    transform: translateY(-50%);
    transition: 0.5s;
}

.slider .slides:nth-child(1),
.slider .slides:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0);
    background-size: cover;
}

.slider .slides:nth-child(3) {
    left: calc(50% + 240px);
    background-size: cover;
}

.slider .slides:nth-child(4) {
    left: calc(50% + 500px);
    background-size: cover;
}

.slider .slides:nth-child(5) {
    left: calc(50% + 760px);
    background-size: cover;
}

.slider .slides:nth-child(6) {
    left: calc(50% + 1020px);
    background-size: cover;
}

.slider .slides:nth-child(7) {
    left: calc(50% + 1280px);
    background-size: cover;
    opacity: 0;
}

.slides .content {
    position: relative;
    max-width: 600px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    padding: 20px 40px;
    opacity: 0;
    margin-left: 20px;
    border-radius: 99px;
    
    transition: 0.25s;
    transition-delay: 0s;
    transform: translateY(40px);
    z-index: 1000;
}

.slider .slides:nth-child(1) .content,
.slider .slides:nth-child(2) .content {
    opacity: 1;

    transform: translateY(-20px);
    transition-delay: 0.5s;
}

.controls {
    position: absolute;
    bottom: 15px;
    display: flex;
    gap: 20px;
}

.controls span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #242424;
    border-radius: 50%;

    cursor: pointer;
}

.controls span::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    border-radius: 2px;

    transform: rotate(315deg) translate(2px, 2px);
}

.controls span:nth-child(2):before {
    transform: rotate(135deg) translate(2px, 2px);
}

.controls span:active {
    opacity: 0.5;
}

@media (max-width: 900px) {
    .slider {
        position: absolute;
        inset: 40px 40px 200px 40px;
    }

    .slider .slides {
        width: 100px;
        height: 100px;
        top: initial;
        bottom: -170px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    }
    
    .slider .slides:nth-child(1),
    .slider .slides:nth-child(2) {
        top: initial;
        bottom: 0px;
    }

    .slider .slides:nth-child(3) {
        left: 0px;
    }

    .slider .slides:nth-child(4) {
        left: 120px;
    }

    .slider .slides:nth-child(5) {
        left: 240px;
    }

    .slider .slides:nth-child(6) {
        left: 360px;
    }

    .slider .slides:nth-child(7) {
        left: 480px;
    }
}
