@import url("./global.css");

main h1 {
  font-size: 2.5rem;
}

main p {
  text-align: justify;
  line-height: 2.25rem;
}

main ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  margin: 1rem 0;
}
