* {
  box-sizing: border-box;
  padding: 0;
}

:root {
  --bg-color: #f1f5f9;
  --foreground: #1e1e1e;
  --tag-background: #e2ad49;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1e1e1e;
    --foreground: #9c9c9c;
    --tag-background: #e2ad49;
  }
}

html {
  background-color: var(--bg-color);
  font-family: 'Times New Roman', Times, serif;
  color: var(--foreground);
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--foreground);
}

header span {
  font-size: 1.5rem;
  font-weight: bold;
}

header .menu-btn {
  display: none;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

header nav a {
  text-decoration: none;
  color: var(--foreground);
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}

header nav a:hover {
  opacity: 1;
}

@media screen and (max-width: 425px) {
  header nav {
    display: none;
  }

  header nav.active {
    display: flex;
  }

  header .menu-btn {
    display: block;
  }
}

main {
  width: 100%;
  margin: 2rem 0;
}

footer {
  text-align: center;
}

.tag {
  background-color: var(--tag-background);
  padding: 0.21rem 1rem;
  border-radius: 999px;

  color: var(--bg-color);
  font-weight: bold;
}

a {
  text-decoration: none;
}